<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>新增收货地址</title>
		<link  rel="stylesheet" href="css/index_blue.css"/>
		<link rel="stylesheet" href="css/LArea.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/LAreaData1.js"></script>
		<script src="js/LArea.js"></script>
		<style>
		</style>
		<script>
			(function(doc, win) {
			    var docEl = doc.documentElement,
			        isIOS = navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
			        dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
			        dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
			        dpr = 1,
			        scale = 1 / dpr,
			        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
			    docEl.dataset.dpr = dpr;
			    var metaEl = doc.createElement('meta');
			    metaEl.name = 'viewport';
			    metaEl.content = 'initial-scale=' + scale + ',maximum-scale=' + scale + ', minimum-scale=' + scale;
			    docEl.firstElementChild.appendChild(metaEl);
			    var recalc = function() {
			        var width = docEl.clientWidth;
			        if (width / dpr > 750) {
			            width = 100 * dpr;
			        }
			        // 乘以100，px : rem = 100 : 1
			        docEl.style.fontSize = 75 * (width / 750) + 'px';
			    };
			    recalc()
			    if (!doc.addEventListener) return;
			    win.addEventListener(resizeEvt, recalc, false);
			})(document, window);
			
			
			$(function(){
				var area1 = new LArea();
				area1.init({
					'trigger': '#triggerIpt', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
					'valueTo': '#valueToIpt', //选择完毕后id属性输出到该位置
					'keys': {
						id: 'id',
						name: 'name'
					}, 
					'type': 1, 
					'data': LAreaData 
				});
			});
			function morenCheck(obj){
				if ($(obj).is(':checked')) {
						$(obj).parents(".car_guonei").removeClass("car_op_weixuanzhong");
						$(obj).parents(".car_guonei").addClass("car_op_xuanzhong");
					}else{
						$(obj).parents(".car_guonei").removeClass("car_op_xuanzhong");
						$(obj).parents(".car_guonei").addClass("car_op_weixuanzhong");
					};
			}
		</script>
	</head>
	<body>
	
		<div class="content">
			<div class="tab_content">
				<div class="tab_qigndan_title" style="background: none;border:none">
					<img src="img/addr.png" style="margin-right: 0.1rem;color: #666;"/>
					地址信息
				</div>
				
				<div class="box">
					<div class="add_addr_div">
						<div class="add_addr_txt">收货人</div>
						<div class="add_addr_ipt">
							<input type="text" placeholder="输入真实姓名"/>
						</div>
					</div>
					<div class="add_addr_div">
						<div class="add_addr_txt">联系电话</div>
						<div class="add_addr_ipt">
							<input type="text" placeholder="输入手机号"/>
						</div>
					</div>
					<div class="add_addr_div">
						<div class="add_addr_txt">所在地区</div>
						<div class="add_addr_ipt">
							<input id="triggerIpt" type="text" readonly="" placeholder="请选择"  value="">
							<input id="valueToIpt" type="hidden" value="">
							
						</div>
					</div>
					<div class="add_addr_div">
						<div class="add_addr_txt">详细地址</div>
						<div class="add_addr_ipt">
							<input type="text" placeholder="填写街道门牌等详细信息"/>
						</div>
					</div>
				</div>
				
				<div class="box addr_zhineng">
					<textarea placeholder="智能地址填写"></textarea>
					<div class="addr_zhineng_btn">
					   提交
					</div>
				</div>
				<div class="car_guonei_bg" style="background: none;">
					<div class="car_guonei car_op_weixuanzhong" style="margin: 0 0.4rem;">
						<input type="checkbox" name="guonei" onchange="morenCheck(this)"/>
						设为默认
					</div>
				</div>	
			</div>	
		</div>
		
		<div class="foot">
			<div class="pay_all_btn" style="width: 100%;">
				保存地址
			</div>
		</div>
	</body>
</html>
