<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>我的订单</title>
		<link  rel="stylesheet" href="css/index.css"/>
		<script src="js/jquery.min.js"></script>
		<script src="js/pinchzoom.js"></script>
		<script>
			(function(doc, win) {
			    var docEl = doc.documentElement,
			        isIOS = navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
			        dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
			        dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
			        dpr = 1,
			        scale = 1 / dpr,
			        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
			    docEl.dataset.dpr = dpr;
			    var metaEl = doc.createElement('meta');
			    metaEl.name = 'viewport';
			    metaEl.content = 'initial-scale=' + scale + ',maximum-scale=' + scale + ', minimum-scale=' + scale;
			    docEl.firstElementChild.appendChild(metaEl);
			    var recalc = function() {
			        var width = docEl.clientWidth;
			        if (width / dpr > 750) {
			            width = 100 * dpr;
			        }
			        // 乘以100，px : rem = 100 : 1
			        docEl.style.fontSize = 75 * (width / 750) + 'px';
			    };
			    recalc()
			    if (!doc.addEventListener) return;
			    win.addEventListener(resizeEvt, recalc, false);
			})(document, window);
			 $(function () {
		        $('.dingdan_kuaidi_img').each(function () {
		            new RTP.PinchZoom($(this), {});
		        });
		    })
			function closeDingdan(){
				$(".dingdan_close_bg").show();
			}
			function closeDingdanSub(){
				$(".dingdan_close_bg").hide();
			}
			function openKuaidi(){
				$(".dingdan_kuaidi_bg").show();
			}
			function closeKuaidi(){
				$(".dingdan_kuaidi_bg").hide();
			}
			
		</script>
	</head>
	<body>
		<div class="content">
			<div class="tab_header_dingdan">
				<div class="tab_sp5 tab_sp_active">
					<span>全部</span>
				</div>
				<div class="tab_sp5">
					<span>待付款</span>
				</div>
				<div class="tab_sp5">
					<span>待发货</span>
				</div>
				<div class="tab_sp5">
					<span>待收货</span>
				</div>
				<div class="tab_sp5">
					<span>已完成</span>
				</div>
			</div>
			<div class="tab_content" style="bottom: 0;top:1.12rem; padding-top: 0.26rem">
				
				
				
				<div class="dingdan_box box">
					<div class="dingdan_time">
						下单时间: 2018-01-01
						<span>已完成</span>
					</div>
					<div class="tab_qigndan_content">
						<div class="commodity_box">
							<div class="commodity_img">
								<img src="img/buy.png"/>
							</div>
							<div class="commodity_info">
								<div class="commodity_name1">日本资生堂洗颜卸妆清洁专科泡洗面奶120</div>
								<div class="commodity_bianhao">商品编码：12345678</div>
								<div class="commodity_pay">
									<span class="commodity_maney_sp1">￥1000</span>	
									<div class="commodity_num">
										x1
									</div>
								</div>
							</div>
						</div>
						<div class="commodity_box">
							<div class="commodity_img">
								<img src="img/buy.png"/>
							</div>
							<div class="commodity_info">
								<div class="commodity_name1">日本资生堂洗颜卸妆清洁专科泡洗面奶120</div>
								<div class="commodity_bianhao">商品编码：12345678</div>
								<div class="commodity_pay">
									<span class="commodity_maney_sp1">￥1000</span>	
									<div class="commodity_num">
										x1
									</div>
								</div>
							</div>
						</div>
					</div>
		
					<div class="ding_btn">
						实付:
						<span class="ding_btn_maney">￥4000.0</span>
						<span class="ding_btn_num">共3件商品</span>
						<span class="ding_btn_btn ding_btn_btn2">删除</span>
						<span class="ding_btn_btn ding_btn_btn4" onclick="openKuaidi()">查看物流</span>
					</div>
				</div>
				
				<div class="dingdan_box box">
					<div class="dingdan_time">
						下单时间: 2018-01-01
						<span class="dingdan_fense">待付款</span>
					</div>
					<div class="tab_qigndan_content">
						<div class="commodity_box">
							<div class="commodity_img">
								<img src="img/buy.png"/>
							</div>
							<div class="commodity_info">
								<div class="commodity_name1">日本资生堂洗颜卸妆清洁专科泡洗面奶120</div>
								<div class="commodity_bianhao">商品编码：12345678</div>
								<div class="commodity_pay">
									<span class="commodity_maney_sp1">￥1000</span>	
									<div class="commodity_num">
										x1
									</div>
								</div>
							</div>
						</div>
						<div class="commodity_box">
							<div class="commodity_img">
								<img src="img/buy.png"/>
							</div>
							<div class="commodity_info">
								<div class="commodity_name1">日本资生堂洗颜卸妆清洁专科泡洗面奶120</div>
								<div class="commodity_bianhao">商品编码：12345678</div>
								<div class="commodity_pay">
									<span class="commodity_maney_sp1">￥1000</span>	
									<div class="commodity_num">
										x1
									</div>
								</div>
							</div>
						</div>
					</div>
		
					<div class="ding_btn">
						实付:
						<span class="ding_btn_maney">￥4000.0</span>
						<span class="ding_btn_num">共3件商品</span>
						<span class="ding_btn_btn ding_btn_btn2 ding_btn_btn_color">付款</span>
						<span class="ding_btn_btn ding_btn_btn4" onclick="closeDingdan()">取消订单</span>
					</div>
				</div>
				
				
			</div>
			
			<div class="dingdan_close_bg">
				<div class="dingdan_close">
					<div class="dingdan_close_title">您已取消订单</div>
					<div class="dingdan_close_number">订单号: 1234567</div>
					<div class="dingdan_close_ps">已支付金额将在1个工作日内退回您的微信账户，请注意查看 。 </div>
					<div class="dingdan_close_btn" onclick="closeDingdanSub()">确 定</div>
				</div>
			</div>
			<div class="dingdan_kuaidi_bg">
				<div class="dingdan_kuaidi">
					<div class="dingdan_kuaidi_title">顺丰快递</div>
					<div class="dingdan_kuaidi_number">快递单号: 1234567</div>
					<div class="dingdan_kuaidi_img">
						<img src="img/kuaidi.png"/>	
					</div>
					<div class="dingdan_kuaidi_btn" onclick="closeKuaidi()"></div>
				</div>
			</div>
		</div>
	</body>
</html>
