<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>提现</title>
		<link rel="stylesheet" href="css/index.css"/>
	</head>
	<body>
		<div class="dingdan_success">
			<div class="dingdan_success_img">
				<img src="img/ic-coin.png"/>
			</div>
			<div class="dingdan_success_txt">可提现金额</div>
			<div class="tixian_maney">￥818.16</div>
			<div class="tixian_weixin">提现至微信钱包</div>
			<div class="tixian_ipt box">
				<span>提现</span>
				<div class="tixian_ipt_bg"><input type="text" placeholder="请输入提现金额"/></div>
			</div>
		</div>
		<div class="btn_big_bg" style="margin-top: 3.75rem;">
			<button class="btn_big" style="color:rgba(255,255,255,0.3)">下一步</button>
		</div>
		
	</body>
</html>
