<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>提现</title>
		<link rel="stylesheet" href="css/index.css"/>
		<style>
			body{background: #F5F5F6;}
		</style>
	</head>
	<body>
		<div class="dingdan_success">
			<div class="dingdan_success_img">
				<img src="img/ic-success.png"/>
			</div>
			<div class="dingdan_success_txt">提现申请已提交</div>
			<div class="dingdan_success_maney">
				一般情况下3小时内到账
			</div>
			<div class="dingdan_success_maney">
				提现流水号：Y201805161316454564
			</div>
		</div>
		<div class="btn_big_bg" style="margin-top: 3.75rem;">
			<button class="btn_big btn_big_black">知道了</button>
		</div>
		
	</body>
</html>
